.app-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.app-header {
  background: linear-gradient(135deg, #007bff, #00aaff);
  max-width: 340px;
  padding: 0 60px;
  text-align: left;
  border-radius: 0px;
  color: #fff;
  margin-bottom: 20px;
}

.app-header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

